.side-bar {
    z-index: 1;
    background: rgba(0, 0, 0, 0.51);
    width: fit-content;
    height: 100%;
    vertical-align: bottom;
    display: flex;
    flex-direction: column;

    position: fixed;
    top: 0;
    right: 0;
}

.side-bar > :first-child {
    margin-top: auto;
}

.side-bar > :last-child {
    margin-bottom: auto;
}

.side-bar > div {
    margin: auto 0;
}


.side-bar_button {
    background-color: rgba(0, 0, 0, 1); /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    padding: 16px 16px;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    /*font-size: 16px;*/
    /*font-size: ;*/
}

.side-bar_button > img {
    width: 0;
}

.side-bar_button:hover {
    background: gray;
}

@media (max-width: 1290px) {
    @media (min-aspect-ratio: 1/1) {
        .side-bar {
            --new-size: 8vw;
        }

        .side-bar {
            width: var(--new-size);
        }

        .side-bar_button > span {
            font-size: 0;
        }

        .side-bar_button > img {
            flex: 1;
        }

        .side-bar_button {
            font-size: 0;
            height: var(--new-size);
            width: var(--new-size);
            padding: 10px;
            display: flex;
        }
    }
}

@media (max-aspect-ratio: 1/1) {
    .side-bar {
        height: fit-content;
        width: 100%;
        flex-direction: row;
        position: absolute;
        left: 0;
        top: 0;
    }

    .side-bar_button {
        width: auto;
        height: 100%;
        flex: 1;
    }


    .side-bar >* {
        margin-left: 16px;
        margin-right: 16px;
    }


}