.rna-line-container{
    margin: auto;
    overflow: visible;
    position: relative;
    height: 0;
}
.rna-line {
    display: grid;
    grid-template-rows: repeat(auto-fill,1fr);
}

.rna-line__item {
    border-color: #6D7080;
    border-style: solid;
    border-width: 4px;
    min-width: 36px;
    min-height: 100px;
    display: grid;
    transform: translateY(-50%);
    grid-template-rows: repeat(auto-fill,1fr);
    transition-duration: 100ms;
}

.selected {
    border-color: #FFD37F;
}
