
.amino-acid-field {
    transform: translate(50px, 50px);

    display: inline-flex;
    height: 140px;
    max-width: 100%;
    z-index: -1;
}

.amino-acid__container {
    align-content: center;
    display: inline;
    width: 38px;
    height: 38px;
}

.amino-acid {
    display: flex;
    border-radius: 50%;
    align-content: center;
    width: 76px;
    height: 76px;
    background: #b9912d;
}

.amino-acid__container.hidden {
    opacity: 0;
}

.amino-acid__inner {
    border-radius: 50%;
    align-content: center;;

    background: #d8ba15;
    width: 64px;
    height: 64px;
    margin: auto;

    text-align: center;
    vertical-align: center;

}

.amino-acid__inner__text {
    text-align: center;
    font-size: 20px;
}

.amino-acid__container:nth-child(odd) {
    margin-top: 65px;
}

@media (max-aspect-ratio: 1/1) {
    .amino-acid__container:nth-child(even) {
        margin-top: unset;
    }
    .amino-acid__container:nth-child(odd) {
        margin-top: unset;
    }

    .amino-acid__container:nth-child(odd):not(.hidden) {
        /*margin-top: 65px;*/
        margin-top: 38px;
    }

    .amino-acid-field {
        /**-72 - 22*/
        translate: -94px 100%;
        transform: translateX(-72px);
    }

    .amino-acid__container {
        transition: margin-top linear 500ms;
        /*noinspection CssNonIntegerLengthInPixels*/
        margin-left: 27.8px;
    }
}

/*

.amino-acid__container + amino-acid__transperent{

}*/
