:root {
    --ribosome-size: 192px;
    --ribosome-left: 60px; /* size/16*5 */
    --ribosome-right: 132px; /* size*16*11 */
    --ribosome-outer-color: #4F4680;
    --ribosome-color: #675DA0;
}

.ribosome {
    /*z-index: 1;*/
    /*width: var(--ribosome-size);*/
    /*height: var(--ribosome-size);*/
    overflow: visible;
    width: 100%;
    height: 100%;
    display: flex;
    /*grid-template-columns: var(--ribosome-left) var(--ribosome-right);*/
}

.ribosome__part {
    /*background: var(--ribosome-color);*/
    height: var(--ribosome-size);
    display: flex;
    align-content: center;
    /*border-color: var(--ribosome-outer-color);*/
    /*border-width: 10px;*/
}
.ribosome *{
    background-size: contain;
}

.ribosome__part__left {
    width: var(--ribosome-left);
    background-image: url("/resources/svg/ribosome/left.svg");
    /*background-size: var(--ribosome-left) var(--ribosome-size);*/
}

.ribosome__part__right {
    width: var(--ribosome-right);
    background-image: url("/resources/svg/ribosome/right.svg");
    /*background-size: var(--ribosome-right) var(--ribosome-size);*/
}

.ribosome__part__left__inner {
    height: var(--ribosome-size);
    width: var(--ribosome-left);
    background-image: url("/resources/svg/ribosome/left_inner.svg");
    /*

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.0' width='40.000000pt' height='128.000000pt' viewBox='0 0 40.000000 128.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,128.000000) scale(0.100000,-0.100000)' \
    fill='%23675DA0' stroke='none'%3E%3Cpath d='M258 1094 c-56 -42 -137 -159 -168 -240 -67 -180 -49 -362 51 -530 58 -98 157 -185 193 -171 15 6 16 57 14 489 -3 475 -3 483 -23 485 -11 2 -41 -13 -67 -33z'/%3E%3C/g%3E%3C/svg%3E");
    */
    /*background-size: var(--ribosome-left) var(--ribosome-size);*/
    margin: auto;
}

.ribosome__part__right__inner {
    height: var(--ribosome-size);
    width: var(--ribosome-right);
    background-image: url("/resources/svg/ribosome/right_inner.svg");
    /*background-size: var(--ribosome-right) var(--ribosome-size);*/
    margin: auto;
}