:root {
    --ribosome-size: 192px;
    --ribosome-left: 60px; /* size/16*5 */
    --ribosome-right: 132px; /* size*16*11 */
    --ribosome-outer-color: #4F4680;
    --ribosome-color: #675DA0;
}

.ribosome {
    /*z-index: 1;*/
    /*width: var(--ribosome-size);*/
    /*height: var(--ribosome-size);*/
    overflow: visible;
    width: 100%;
    height: 100%;
    display: flex;
    /*grid-template-columns: var(--ribosome-left) var(--ribosome-right);*/
}

.ribosome__part {
    /*background: var(--ribosome-color);*/
    height: var(--ribosome-size);
    display: flex;
    align-content: center;
    /*border-color: var(--ribosome-outer-color);*/
    /*border-width: 10px;*/
}

.ribosome > * > *, .ribosome > * > *:before {
    background-size: contain;
}

.ribosome > * > *:before {
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
}

.ribosome__part__left__inner::before {
    content: "";
    /*TODO inline svg because of github?*/
    background-image: url("left_inner.svg");
}

.ribosome__part__left__inner {
    background-image: url("left.svg");
    height: var(--ribosome-size);
    width: var(--ribosome-left);
    display: flex;
    margin: auto;
}

.ribosome__part__left {
}

.ribosome__part__right__inner:before {
    content: "";
    background-image: url("right_inner.svg");
}

.ribosome__part__right__inner {
    height: var(--ribosome-size);
    width: var(--ribosome-right);
    background-image: url("right.svg");
    display: flex;
    margin: auto;
}

.ribosome__part__right {
}

:root {
    --rna-line-width: 44px;
    --rna-line-elem-height: 100px;
    --rna-line-elem-m-height: -100px;
    --rna-line-m-width: -44px;
}

@media (max-aspect-ratio: 1/1) {
    .ribosome {
        /* Центрируем текст по вертикали */
        /*transform-origin: center; !* Устанавливаем точку вращения в центр элемента *!*/
        /*transform: rotate(90deg);*/
    }

    .ribosome__part__left__inner {
        transform-origin: left center;
        transform: rotate(90deg) translateX(var(--rna-line-m-width)) translate(-100%, var(--rna-line-elem-m-height));
    }

    .ribosome__part__right__inner {

        transform-origin: right center;
        translate: var(--rna-line-elem-height) 0;
        transform: rotate(90deg) translate(100%, 100%) translateY(var(--rna-line-width));
    }

    .ribosome__part__left {
        /*transform-origin: right;*/
        /*rotate: 90deg;*/
    }

    .ribosome__part__right {
        /*transform-origin: left;*/
        /*rotate: 90deg;*/
    }
}