:root{
    --4px: 0.25em;
    --6px: 0.375em;
    --8px: 0.5em;
    --12px: 0.75em;
    --16px: 1em;
    --24px: 1.5em;
    --32px: 2em;
    --48px: 3em;
    --64px: 4em;
    --80px: 5em;
    --96px: 6em;
    --112px: 7em;
    --128px: 8em;

}